.section {
    .section-title {
        text-align: center;
        margin: 1rem 0 2rem;
    }

    &:nth-of-type(odd) {
        background-color: #f3f3ff;
    }

    margin: 2rem 0;
    overflow: hidden;
    padding-bottom: 2rem;
}

img {
    transition: 0.2s all ease;
}

.card, .img-fluid {
    margin-bottom: 1rem;
}

$theme-colors: (
    "danger": red,
    "info": blue
);

@import "~bootstrap/scss/bootstrap";
